= form_for([@recipe, @recipe.reviews.build]) do |f|
	.form-group.text-left
		%h3= f.label 'Add a review'
		= f.text_field :reviewer, :placeholder => 'Name', :class =>"form-control"
	.form-group.text-left
		= f.number_field :rating, in: 1..5, :placeholder => 'Rating', :class =>"form-control"
	.form-group
		= f.text_area :body, :class =>"form-control", :style =>"height: 275px;", :placeholder =>"What did you think?"
	.btn-group
		= f.submit :class =>"btn btn-primary"
