.container
	= form_for :recipe, url: recipes_path do |f|
		.row
			- if @recipe && @recipe.errors.any?
				%ul
					- @recipe.errors.full_messages.each do |msg|
						%li= msg
			.col-md-12
				.form-group
					%h3= f.label :title
					= f.text_field :title, :placeholder => 'Enter recipe name', :class =>"form-control"
			%br
			.col-md-4.col-sm-12
				.form-group
					%h3= f.label :ingredients
					= f.text_area :ingredients, :placeholder => 'Separate each ingredient with a comma', :class =>"form-control", :rows=>10
			.col-md-8.col-sm-12
				.form-group
					%h3= f.label :directions
					= f.text_area :directions, :class =>"form-control", :rows=>10
		.row
			.col-md-6.col-sm-12
				.btn-group
					= link_to 'Cancel', recipes_path, method: :get, :class => "btn btn-default"
					= f.submit :class =>"btn btn-primary"