= form_for :recipe, url: recipes_path do |f|
	- if @recipe && @recipe.errors.any?
		%ul
			- @recipe.errors.full_messages.each do |msg|
				%li= msg

	%p
		= f.label :title
		%br
		= f.text_field :title, :placeholder => 'Enter recipe name'
	%p
		= f.label :rating
		%br
		= f.number_field :rating, in: 1..5, :placeholder => '1 to 5'
	%p
		= f.label :ingredients
		%br
		= f.text_area :ingredients, :rows => 5, :cols => 50, :placeholder => 'Separate each ingredient with a comma'
		%br
		= f.label :directions
		%br
		= f.text_area :directions, :rows => 10, :cols => 50
	%p
		= f.submit