.container
	= form_for :recipe, url: recipes_path do |f|
		.row
			- if @recipe && @recipe.errors.any?
				%ul
					- @recipe.errors.full_messages.each do |msg|
						%li= msg
			.col-md-3.col-sm-12
			.col-md-6.col-sm-12
				.form-group
					= f.text_field :title, :placeholder => 'title', :class =>"form-control"
				.form-group
					= f.text_field :category, :placeholder => 'category', :class =>"form-control"
				.form-group
					= f.text_area :ingredients, :placeholder => 'ingredients', :class =>"form-control", :rows=>10
				.form-group
					= f.text_area :directions, :placeholder => 'directions', :class =>"form-control", :rows=>10
				.btn-group#add
					= f.submit :class =>"btn btn-mysubmit"
			.col-md-3.col-sm-12