- @title = "Edit recipe: #{@recipe.title}"
- @id = "recipe-edit"

.pull-left{:style=>"margin-top: 15px;"}
	= link_to 'CANCEL', recipes_path, method: :get, style: "margin-left: 25px;"
.pull-right{:style=>"margin-top: 15px;"}
	= button_to 'DELETE', recipe_path(@recipe), method: :delete, style: "margin-right: 25px;", :class => "btn btn-mysubmit", :confirm=>"are you sure you want to delete this recipe?"
.container
	.row
		.col-md-12.col-sm-12{:style=>"text-align:center;"}
			%h1= @recipe.title.downcase
	.row
		= form_for :recipe, url: recipe_path(@recipe), method: :patch do |f|
			- if @recipe && @recipe.errors.any?
				.alert.alert-danger
					- @recipe.errors.full_messages.each do |msg|
						%p= msg
			.col-md-3.col-sm-12
			.col-md-6.col-sm-12
				.form-group
					= f.text_field :title, :placeholder => 'title', :class =>"form-control"
				.form-group
					= f.text_field :category, :placeholder => 'category', :class =>"form-control"
				.form-group
					= f.text_area :ingredients, :placeholder => 'ingredients', :class =>"form-control", :rows=>10
				.form-group
					= f.text_area :directions, :placeholder => 'directions', :class =>"form-control", :rows=>10
				%br
				.btn-group#add
					= f.submit :class =>"btn btn-mysubmit"
			




