- @title = "Edit recipe: #{@recipe.title}"

.container
	.row
		.col-md-12.col-sm-12
			%h1= "Edit #{@recipe.title}"
	= form_for :recipe, url: recipe_path(@recipe), method: :patch do |f|
		.row
			- if @recipe && @recipe.errors.any?
				.alert.alert-danger
					- @recipe.errors.full_messages.each do |msg|
						%p= msg
			.col-md-8
				.form-group
					%h3= f.label :title
					= f.text_field :title, :placeholder => 'Enter recipe name', :class =>"form-control"
			.col-md-4
				.form-group
					%h3= f.label :rating
					= f.number_field :rating, in: 1..5, :placeholder => '1 to 5', :class =>"form-control"
			%br
			.col-md-4.col-sm-12
				.form-group
					%h3= f.label :ingredients
					= f.text_area :ingredients, :placeholder => 'Separate each ingredient with a comma', :class =>"form-control", :style =>"height: 275px;"
			.col-md-8.col-sm-12
				.form-group
					%h3= f.label :directions
					= f.text_area :directions, :class =>"form-control", :style =>"height: 275px;"
		.row
			.col-md-6.col-sm-12
				.btn-group
					= link_to 'Cancel', recipe_path(@recipe), method: :get, :class => "btn btn-default"
					= f.submit :class =>"btn btn-primary"
			.col-md-6.col-sm-12.pull-right




