- @title = "Cookbook | Home"
- @id = "home"

= render 'navbar_home'

.container
	.row
		.col-md-12.col-sm-12
			.list-group
				- @recipes.each do |r|
					%a.list-group-item{:href=>recipe_path(r)} 
						%span.badge 
							- if r.avg_rating.class == Float
								= "#{r.avg_rating} stars"
							- else 
								= r.avg_rating
						.col-md-6
							%h4.list-group-item-heading
								%strong= r.title
						.col-md-6
							= r.category
						%p.list-group-item-text= r.ingredients
					
