- @title = "Cookbook | Home"
- @id = "home"

.pull-left{:style=>"margin-top: 15px;"}
	= button_to 'HOME', recipes_path, method: :get, style: "margin-left: 25px;", :class=>"btn btn-mysubmit"

.pull-right{:style=>"margin-top: 15px;"}
	= button_to 'ADD RECIPE', new_recipe_path, method: :get, style: "margin-right: 25px;", :class=>"btn btn-mysubmit"
%br
.container
	.row
		.col-md-8.col-xs-4.center-block{:style=>"text-align:center; float:none;"}
			= form_tag(recipes_path, :method => "get", id: "search-form") do 
				= text_field_tag :search, params[:search], placeholder: "Search recipes or ingredients", :class =>"search-control"
				= submit_tag "Search", :class =>"btn btn-mysubmit"


%br
.container
	.row
		.col-md-12{:style=>"text-align:center;"}
			%h1 cookbook
.container{:style=>"margin-top: 25px;"}
	.row
		- if @recipes.present?
			- @recipes.each do |r|
				.col-md-6.col-sm-12.text-right-responsive
					%li
						%a.text-right.recipe{:href=>recipe_path(r)}= r.title.downcase
				.col-md-2.col-sm-4{:style=>"text-align:center;"}
					%li
						%a#fake
							= link_to r.category.upcase, category_path(r.category)
				.col-md-4.col-sm-8.text-left-responsive
					%li
						%a#fake
							- if r.avg_rating.class == Float
								= pluralize(r.avg_rating.round(2), 'star')
							- else 
								= r.avg_rating
		- else
			.col-md-12.col-sm-12
				%p{:style=>"text-align:center;"} 
					No recipes match your search.
					%br
					%br
					= link_to 'RETURN HOME', recipes_path, method: :get
			