.container
	.row
		.col-md-12.col-sm-12
			%h1= @recipe.title

	<hr>

.container
	.row
		.col-md-3.col-sm-12
			%h2 Ingredients
			.list-group
				- @recipe.ingredients.split(",").each do |ingred|
					.list-group-item= ingred
		.col-md-8.col-sm-12
			%h2 Directions
			- text = simple_format(@recipe.directions, :style=>"line-height: 150%; font-size: 16px; margin-bottom: 20px;")
			%p= text

.container
	.row
		.col-md-12.col-sm-12
			.btn-group
				= link_to 'Back to recipes', recipes_path, method: :get, :class => "btn btn-primary"
				= link_to 'Edit recipe', edit_recipe_path(@recipe), method: :get, :class => "btn btn-default"

= button_to 'Delete Recipe', recipe_path(@recipe), method: :delete, :class => "btn btn-danger pull-right", :role=>"button"
/
	.btn-group
		= button_to 'Back', recipes_path(@recipe), method: :get, :class => "btn btn-primary pull-right", :role=>"button"
		= button_to 'Edit Recipe', edit_recipe_path(@recipe), method: :get, :class => "btn btn-warning pull-right", :role=>"button"
		= button_to 'Delete Recipe', recipe_path(@recipe), method: :delete, :class => "btn btn-danger pull-right", :role=>"button"


