.container
	.row
		.col-md-9.col-sm-12{:style=>"border: solid black 1pt"}
			%h1= @recipe.title
		.col-md-3.col-sm-12{:style=>"border: solid black 1pt"}
			%p= "Rating: #{@recipe.rating}"

%h2 Ingredients
%ul
	- @recipe.ingredients.split(",").each do |ingred|
		%li= ingred

%h2 Directions
%p= @recipe.directions

.btn-group{:role=>"group"}
	= button_to 'Back', recipes_path(@recipe), method: :get, :class => "btn btn-primary", :role=>"button"
	= button_to 'Edit Recipe', edit_recipe_path(@recipe), method: :get, :class => "btn btn-warning", :role=>"button"
	= button_to 'Delete Recipe', recipe_path(@recipe), method: :delete, :class => "btn btn-danger", :role=>"button"


