- @title = "#{@recipe.title}"

.container
	.row{:style=>"display:flex;"}
		.col-md-7.col-sm-12
			%h1= @recipe.title
		.col-md-5.col-sm-12
			.btn-group.pull-right{:style=>"margin-top: 20px; display: inline;"}
				= link_to 'Back to recipes', recipes_path, method: :get, :class => "btn btn-default"
				= link_to 'Edit recipe', edit_recipe_path(@recipe), method: :get, :class => "btn btn-primary"
.container
	.row
		.col-md-4.col-sm-12
			%h3 Ingredients
			.list-group
				- @recipe.ingredients.split(",").each do |ingred|
					.list-group-item= ingred
		.col-md-8.col-sm-12
			%h3 Directions
			- text = simple_format(@recipe.directions, :style=>"line-height: 150%; margin-bottom: 20px;")
			.panel.panel-default
				.panel-body
					%p= text
	<hr>
.container
	.row
		.col-md-8.col-sm-12
			= render 'reviews/review'
		.col-md-4.col-sm-12.text-center
			= render 'add_review'
		
							


		


