- @title = "#{@recipe.title}"

.container
	.row
		.col-md-12.col-sm-12
			%h1= @recipe.title
.container
	.row
		.col-md-3.col-sm-12
			%h3 Ingredients
			.list-group
				- @recipe.ingredients.split(",").each do |ingred|
					.list-group-item= ingred
		.col-md-8.col-sm-12
			%h3 Directions
			- text = simple_format(@recipe.directions, :style=>"line-height: 150%; margin-bottom: 20px;")
			%p= text

.container
	.row
		.col-md-12.col-sm-12
			.btn-group
				= link_to 'Back to recipes', recipes_path, method: :get, :class => "btn btn-default"
				= link_to 'Edit recipe', edit_recipe_path(@recipe), method: :get, :class => "btn btn-primary"


