- @title = "#{@recipe.title}"
- @id = "recipe-show"

.pull-left{:style=>"margin-top: 15px;"}
	= link_to 'BACK', recipes_path, method: :get, style: "margin-left: 25px;"
.pull-right{:style=>"margin-top: 15px;"}
	= link_to 'EDIT', edit_recipe_path(@recipe), method: :get, style: "margin-right: 25px;"
.container
	.row
		.col-md-12{:style=>"text-align:center;"}
			%h1= @recipe.title.downcase
	.row
		.col-md-12{:style=>"text-align:center;"}
			%p= "Serves 4".upcase
.container
	.row
		.col-md-6.col-sm-12
			.col-md-12{:style=>"text-align:center;"}
				%h3 ingredients
			.col-md-2
			.col-md-8
				%ul
					- @recipe.ingredients.split(",").each do |ingred|
						%li= ingred.downcase
			.col-md-2
		.col-md-6.col-sm.12
			.col-md-12{:style=>"text-align:center;"}
				%h3 directions
			.col-md-2
			.col-md-8{:style=>"text-align: left;"}
				%p= simple_format(@recipe.directions)
			.col-md-2
							


		


