- @title = "Cookbook | #{@category.capitalize}"
- @id = "home"

.pull-left{:style=>"margin-top: 15px;"}
	= link_to 'BACK', recipes_path, method: :get, style: "margin-left: 25px;", :class => "bt btn-mysubmit"
.pull-right{:style=>"margin-top: 15px;"}
	= button_to 'ADD RECIPE', new_recipe_path, method: :get, style: "margin-right: 25px;", :class=>"btn btn-mysubmit"
%br
%br
.container
	.row
		.col-md-12{:style=>"text-align:center;"}
			%h1 cookbook
		.col-md-12{:style=>"text-align:center;"}
			%a#fake 
				= @category.upcase
				RECIPES
.container{:style=>"margin-top: 25px;"}
	.row
		- @recipes.each do |r|
			.col-md-6.col-sm-12.text-right-responsive
				%li
					%a.text-right.recipe{:href=>recipe_path(r)}= r.title.downcase
			.col-md-6.col-sm-12.text-left-responsive
				%li
					%a#fake
						- if r.avg_rating.class == Float
							= pluralize(r.avg_rating, 'star')
						- else 
							= r.avg_rating