.col-md-12{style: "text-align: center"}
	%h4 
		reviews
	%p
		%span#avg-rating
			average rating: 
			- if @recipe.avg_rating > 0
				= pluralize(@recipe.avg_rating.round(2), 'star')
			- else 
				NOT REVIEWED
		

- if @recipe.reviews.count == 0
	.col-md-12{style:"text-align:center; margin-bottom:30px;"}
		%p No one has added a review yet.
		.add-div
			= render "add_review"
- else
	.col-md-12
		.col-md-3.col-sm-0
		.col-md-6.col-sm-12
			- reviews = @recipe.reviews.order('reviews.created_at DESC')
			- reviews.each do |review|
				%h4#add{:style=>"font-size:20px;"}
					- if review.user_id
						- user = User.find(review.user_id)
						= link_to "#{user.first_name.downcase} #{user.last_name.downcase}", user_path(user), :id => "review-user"
					- else
						= review.reviewer.downcase
					%span#rating= pluralize(review.rating, 'star')
					%span#rating= review.created_at.strftime('%-m/%-d/%y')
				- body = simple_format(review.body, :style=>"line-height: 150%; margin-bottom: 20px; margin-top:10px; padding-left: 12px;")
				%p#add= body
				- if review.user_id == current_user.id
					.btn-group.pull-left#add
						= button_to 'Remove Review', [review.recipe, review], method: :delete, :class => "btn-mysubmit"
				%br
		.col-md-3.col-sm-0
	%br
	.col-md-12{style:"text-align:center; margin-bottom:30px;"}
		.add-div
			= render "add_review"