<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.css', media: 'all' %>
  <%= javascript_include_tag 'jquery-1.11.3.min.js' => true %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'bootstrap.min.js' => true %>
  <%= javascript_include_tag 'application' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body id="<%= @id %>">

<%= yield %>

</body>
</html>
